@model Laul.Application.Services.Albums.Queries.GetAlbumDetails.AlbumDetailsVm

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/songList.css" />
    <script src="~/js/Song/togleAndPlay.js"></script>
    <script src="~/js/Song/modalSongWindow.js"></script>
    <script src="~/js/Song/selectSong.js"></script>
    <script src="~/js/Song/songMenu.js"></script>
    <script src="~/js/Song/sendDeleteSongFromAlbum.js"></script>
</head>
<body>
    <div class="d-flex">
        <div>
            <img style="height : 170px"src="@Model.Image" class="img-fluid" alt="Album Image" />
        </div>
        <div class="ms-3">
            <div>
                <h3>@Model.Title</h3>
            </div>
            <div>
                <h4>@Model.Genre</h4>
            </div>
            <div>
                <h4>@Model.PublishDate.Year</h4>
            </div>
            <div>
                <h4>@Model.Songs.Count Songs</h4>
            </div>
        </div>
    </div>
    @if (Model.ArtistName == Context.User.FindFirst("name")?.Value)
    {
    <button onclick="openModal(@Model.Id)" data-toggle="ajax-modal" data-target="Modal" class="btn btn-primary add-song-button">Add song to album</button>
    }

    <table class="table">
        @foreach (var item in Model.Songs)
        {
            <tr>
                <td>
                    <div style="display: flex; align-items: center;" onclick="toggleAndPlayAudio('@item.Storage')" class="song-cover" onmouseover="changeCursor(this)">
                        <div style="width: 50px; height: 50px; margin-right: 10px;">
                            <img style="block-size: 50px" src="@item.Photo" />
                        </div>
                        <div style="width: 350px; height: 50px">
                            @Html.DisplayFor(modelItem => item.Title)
                        </div>
                    </div>
                </td>
                <td>
                    <div class="dropdown">
                        <a class="bx bx-dots-vertical-rounded dropdownButton" onmouseover="changeCursor(this)"></a>
                        <ul class="dropdown-menu">
                            <li onclick="deleteSongFromAlbum(@item.Id)">Delete From Album</li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </table>

</body>
</html>
