@using Laul.Application.Services.Artists.Queries.GetArtistDetails
@model ArtistDetilsVm

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Profile.css"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/js/Album/modalAlbumWindow.js"></script>
</head>
<body>
    @if (!string.IsNullOrEmpty(Model.Photo))
    {
        <img style=" width: 100px; height: auto; border-radius: 100%;" src="@Model.Photo" alt="User Photo" />
    }

    <div class="details">
    <h1>@Model.Name</h1>

    @if (!string.IsNullOrEmpty(Model.Description))
    {
        <p>@Model.Description</p>
    }
    </div>
    <a href="@Url.Action("GetSongListByArtist", "Song", new {UserName = Model.Name})"><h2>Songs</h2></a>

    <a href="@Url.Action("GetAlbumListByArtist", "Album", new {UserName = Model.Name})"><h2>Albums</h2></a>

        @if (Model.Name == Context.User.FindFirst("name")?.Value)
        {
            <a href="@Url.Action("EditArtist", "Profile", new { Id = Model.Id })">Edit Profile</a>
            <a href="@Url.Action("CreateSong", "Song", new { ArtistId = Model.Id })">Create Song</a>
            <a href="#" onclick="openAlbumModal('@Model.Id')" data-toggle="ajax-modal" data-target="Modal">Create Album</a>
        }
    
</body>
</html>
