@model Laul.Application.Services.Playlists.Queries.GetPlaylistDetails.PlaylistDetailsVm

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/playlistDetails.css"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Song/togleAndPlay.js"></script>
    <script src="~/js/Song/songMenu.js"></script>
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>@Model.Title</h1>
        </div>

        <div class="description">
            <p>@Model.Description</p>
        </div>
    </div>
    <table class="table">
        @foreach(var item in Model.Songs)
        {
            <tr class="song-cover" onmouseover="changeCursor(this)">
                <td style="width: 50px; height: 50px" onclick="toggleAndPlayAudio('@item.Storage')">
                    <img style="block-size: 50px" src="@item.Photo"/>
                </td>
                <td style="width: 350px; height: 50px">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td style="width: 200px; height: 50px">
                    @Html.DisplayFor(modelItem => item.ArtistName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlbumTitle)
                </td>
                <td>
                    <div class="dropdown">
                        <a class="bx bx-dots-vertical-rounded dropdownButton"></a>
                        <ul class="dropdown-menu">
                            <li>Delete from Playlist</li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </table>

</body>
</html>
